<div class="bg-primary w-full overflow-hidden">
    <div class="max-w-screen-xl mx-auto ">
        <!--Header-->
        <nav class="flex items-center justify-between px-2 py-8">
            <img loading="lazy" src="https://assets-global.website-files.com/64d3dd9edfb41666c35b15b7/64d3dd9edfb41666c35b15c2_Sundown%20logo.svg" alt="Logo">

            
            <ul class="flex items-center gap-4">
                <li class="px-7 py-2 border border-gray-300 rounded-full xl:hover relative after:absolute after:bg-black after:w-24 after:h-24 after:left-0 after:-bottom-24 after:rounded-full hover:after:-bottom-8 hover:after:rounded-none  after:transition-all after:delay-150 after:ease-in  overflow-hidden text-black hover:!text-white xl:cursor-pointer z-10"><a class="relative z-30 xl:cursor-pointer">Work</a></li>
                
                <li class="px-7 py-2 border border-gray-300 rounded-full xl:hover relative after:absolute after:bg-black after:w-full after:h-24 after:left-0 after:-bottom-24 after:rounded-full hover:after:-bottom-8 hover:after:rounded-none  after:transition-all after:delay-150 after:ease-in  overflow-hidden text-black hover:!text-white xl:cursor-pointer z-10"><a class="relative z-30 xl:cursor-pointer">Studio</a></li>

                <li class="px-7 py-2 border border-gray-300 rounded-full xl:hover relative after:absolute after:bg-black after:w-full after:h-24 after:left-0 after:-bottom-24 after:rounded-full hover:after:-bottom-8 hover:after:rounded-none  after:transition-all after:delay-150 after:ease-in  overflow-hidden text-black hover:!text-white xl:cursor-pointer z-10"><a class="relative z-30 xl:cursor-pointer">Contact</a></li>
            </ul>
        </nav>

        <!--Hero page-->
        <div class="flex items-end justify-between h-[500px] p-3 border-b border-gray-300 pb-12 mt-8">
            <p class="w-30 text-2xl leading-6 font-Medium">Sundown is a multi-disciplinary studio focused on creating unique, end-to-end experiences and environments.</p>
            <h1 class="text-[9rem] font-Medium font-black text-end leading-113">SPACES <br>
                THAT <br>
                INSPIRE</h1>
        </div>

        <!--Video section-->
        <div class="h-full w-full mt-14  relative">
            <video autoplay loop muted class="rounded-2xl relative z-10" src="https://player.vimeo.com/progressive_redirect/playback/822063732/rendition/1080p/file.mp4?loc=external&signature=79851f90dc501a79b69488c261bfb3c1db78d45a4eba6d058173e6f9576f6186"></video>

            <div class="w-[38rem] rounded-l-full h-96 bg-gradient-to-r from-[#FE320A] to-[#FE5818] blur-xl absolute -right-16 -top-36 "></div>
            <div class="w-80 rounded-full h-80 orange blur-xl absolute right-96 -top-20  animate-Shake1 ani-direction"></div>
            <div class="w-80 rounded-full h-80 orange blur-xl absolute right-72 -top-28 animate-Shake2 ani-direction"></div>
        </div>
    </div>
</div>